[Unit]
Description=Scalelite Poller
After=network-online.target
Wants=network-online.target
Before=scalelite.target
PartOf=scalelite.target

[Service]
Type=simple
EnvironmentFile=/var/www/scalelite/.env
WorkingDirectory=/var/www/scalelite
Restart=always
RestartSec=60
ExecStart=/usr/local/bin/bundle exec rake poll
User=scalelite

[Install]
WantedBy=scalelite.target
