[Unit]
Description=Rest Server
After=syslog.target
After=network.target

[Service]
Type=simple
User=rest-server 
Group=rest-server
ExecStart=/usr/local/bin/rest-server --path {{ rest_backup_storage_dir }} --private-repos --tls --tls-cert /etc/letsencrypt/live/{{ rest_backup_server }}/fullchain.pem --tls-key /etc/letsencrypt/live/{{ rest_backup_server }}/privkey.pem
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
