version: '3'

services:
  app:
    entrypoint: [bin/start]
    image: ulmlerntgreenlight:release-v2
    container_name: ulmlernt-greenlight
    env_file: .env
    restart: unless-stopped
    ports:
      - 5000:80
    volumes:
      - ./log:/usr/src/app/log
    links:
      - db
  db:
    image: postgres:9.5
    container_name: ulmlernt-greenlight-postgres
    restart: unless-stopped
    ports:
      - 127.0.0.1:5432:5432
    volumes:
      - ./db/production:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD={{ greenlight_postgres_password }}
