---
- name: Ensure wrong hostname is not in hosts file
  lineinfile:
    dest: /etc/hosts
    regexp: '{{ ansible_hostname }}$'
    state: absent
    backup: yes
  when: ansible_hostname != inventory_hostname_short

- name: Ensure Hostname
  hostname:
    name: '{{ inventory_hostname_short }}'
  when: ansible_hostname != inventory_hostname_short

- name: Ensure Hostname in hosts file
  lineinfile:
    dest: /etc/hosts
    regexp: '{{ inventory_hostname_short }}$'
    line: '{{ ansible_default_ipv4.address }} {{ inventory_hostname }} {{ inventory_hostname_short }}'
    state: present
  when: ansible_default_ipv4.address is defined

- name: Update apt
  apt:
    update_cache: yes
    cache_valid_time: 3600
    upgrade: safe

- name: Ensure basic packages
  apt:
    name:
      - byobu
      - zsh
      - curl
      - wget
      - dnsutils
      - git
      - sudo
      - htop
      - vim
    state: present

- name: Ensure 'sudo' group exists
  group:
    name: sudo
    state: present

- name: Create users
  user:
    name: '{{ item.name }}'
    shell: /bin/bash
    password: '!'
    update_password: on_create
    groups:
      - sudo
    state: present
  with_items: '{{ users }}'

- name: Add SSH keys
  authorized_key:
    user: '{{ item.name }}'
    state: present
    key: '{{ item.sshkeys }}'
  with_items: '{{ users }}'

- name: Ensure sudo group is passwordless
  lineinfile:
    path: /etc/sudoers.d/sudo-nopasswd
    line: '%sudo ALL=(ALL) NOPASSWD: ALL'
    state: present
    mode: 0440
    create: yes
    validate: '/usr/sbin/visudo -cf %s'

- name: Ensure sudoers uses sudoers.d
  lineinfile:
    path: /etc/sudoers
    line: '#includedir /etc/sudoers.d'
    state: present
    validate: '/usr/sbin/visudo -cf %s'

- name: Ensure clean motd
  file:
    path: '/etc/update-motd.d/{{item}}'
    # only removing executable rights would be cleaner, but they are gone now
    state: absent
  with_items:
    - 10-help-text
    - 50-motd-news
    - 80-esm
    - 80-livepatch

- name: Ensure notice about configuration managment in motd
  copy:
    content: |
      #!/bin/sh
      printf "\n"
      printf "This system is managed with ansible, see following repository for details\n"
      printf "https://github.com/stadtulm/a13-ansible\n"
      printf "\n"
    mode: 0755
    dest: /etc/update-motd.d/11-help-text

