ulmlernt.org {
    bind {{ ansible_default_ipv4.address }}
    bind {{ ansible_default_ipv6.address }}
    prometheus {{ ansible_default_ipv4.address }}:9153

    root /etc/coredns/zones
    file db.ulmlernt.org {
        # hetzner secondary ns
        transfer to 78.46.255.56
        transfer to 213.239.242.238
        transfer to 213.133.105.6
        transfer to 193.47.99.3
    }
}